@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


.rouge {
    color: #E51E35;
}

/*je crée la classe bleu qui mettra le texte en bleu */
.bleu{
    color: blue;
}

/*je crée la classe rose qui mettra le texte en rose */
.rose{
    color: pink;
}


.centrer {
    text-align: center;
}

/* texte */
h3{
    font-size: 50px;
}

p{
    font-size:  20px;
    font-weight: 400;
}


/* container */

.container-1000{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* fond coloré */

.bg-red-vif{
    background-color: #E51E35;
;
}

.bg-rouge-pale{
    background-color: #FFD7D7;
}

.bg-rose{
    background-color: #FFE8E8;
}

.noir {
    color: black;
}

.blanc{
    color: white;
}

li{
    font-weight: 700;
}

.bold{
    font-weight: 700;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-100 {
    margin-left: 100px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-30 {
    margin-top: 30px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.border-radius-8 {
    border-radius: 8px;
}

.w-48 {
    width: 48%;
}

.font-size-50 {
    font-size: 50px;
}